.form-container {
  display: flex;
  flex-direction: column; 
  padding: 20px; 
  width: 400px; 
}

.form-control {
  margin-bottom: 15px; 
  padding: 10px; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  font-size: 16px; 
  transition: border-color 0.3s; 
}

.form-control:focus {
  outline: none;

}

/* Specific styles for the file input */
.form-control[type="file"] {
  padding: 5px; 
  border: none;
}

.form-control::placeholder {
  color: #aaa; 
}

button {
  padding: 10px 15px; 
  border: none;
  border-radius: 5px; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.btn-submit {
  background-color: rgb(95, 95, 226);
}

.uploaded-container{
  display: flex;
  flex-direction: column;
}
.pdf-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.pdf-container:hover {
  background-color: rgba(95, 95, 226, 0.1); 
  transform: scale(1.02); 
  border-radius: 10px;
  cursor: pointer; 
}

.pdf-viewer {
  width: 90%;
  height: 95vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
